*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 @media screen and (max-width:670px) {
    .chat-wrapper> .chat-main > .chat-box{
        display: none;
    }

    .chat-box-appear{
        display: block;
        width: 100%;
        height: 100vh;
        position: fixed;
    }

    .chat-wrapper > .chat-main >.chats{
        width: 100%;
    }
 }
